<header>
  <!--- Navbar --->
  <nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Test Technique</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse"
              (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nvbCollapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pl-1">
            <a class="nav-link"   routerLink="/"
               routerLinkActive="active"><i class="fa fa-home fa-fw mr-1"></i>Accueil</a>
          </li>

          <li class="nav-item pl-1">
            <a class="nav-link"  routerLink="/A-propos"
               routerLinkActive="active"><i class="fa fa-info-circle fa-fw mr-1"></i>A propos</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!--# Navbar #-->
</header>
