@import '~bootstrap/dist/css/bootstrap.min.css';
.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }
.navbar .navbar-nav .active { color: #fbc531; }
footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }
footer a{outline: none !important; text-decoration: none;}
.share{ line-height: 100px;}
@media (max-width: 992px) { footer .cizgi { border-right: none; } }
.ml-auto, .mx-auto {
  margin-left: auto !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.p-4 {
  padding: 1.5rem !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 45px;
}
.card-title {
  margin-bottom: 0.75rem;
}

.custom-pagination .page-number{
  display: inline-block;
  /* padding: 5px 12px; */
  background: #afffe6;
  margin: 0px 4px;
  border-radius: 25px;
}

.page-number.current{
  background: #ffffff!important;
  border: 12px solid #458873;
}

.page-number span{
  display: block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
}
.ngx-pagination{
  margin: 20px;
  text-align: center;
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.progress {
  height: 10px;
}
.card-image{
  height: 80%;
}
.card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0;
}


.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #E26D5C;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #E26D5C;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 15px !important;
  font-weight: bold !important;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1F487E;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1D3461;
  color: #fff;

}
